attrs==19.3.0
certifi==2022.12.7
chardet==3.0.4
Click==7.0
coverage==5.0.3
coveralls==1.10.0
docopt==0.6.2
dredd-hooks==0.2.0
ga4gh-htsget-compliance==0.1.0
idna==2.8
importlib-metadata==1.4.0
jsonschema==3.2.0
more-itertools==8.1.0
packaging==20.1
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.6
pyrsistent==0.15.7
pytest==5.3.4
pytest-cov==2.8.1
requests==2.22.0
six==1.14.0
urllib3==1.25.8
wcwidth==0.1.8
zipp==2.1.0
